<ul><TMPL_LOOP Channels><li<TMPL_IF nick> class="<TMPL_VAR nick>"</TMPL_IF>><TMPL_IF url><a href="<TMPL_VAR url ESCAPE="HTML">" title="Subscribe"><img src="http://planet.gnome.org/img/feed-icon-10x10.png" alt="(feed)"></a><TMPL_ELSE><img src="http://planet.gnome.org/img/feed-icon-10x10.png" alt="(feed)"></TMPL_IF> <TMPL_IF link><a href="<TMPL_VAR link ESCAPE="HTML">" <TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a><TMPL_ELSE><span <TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></span></TMPL_IF></li></TMPL_LOOP></ul>
