<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title><TMPL_VAR name></title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" type="image/png" href="http://planet.gnome.org/img/gnome-16.png">
	<link rel="alternate" type="application/atom+xml" title="<TMPL_VAR title ESCAPE="HTML"> Atom 1.0" href="<TMPL_VAR link ESCAPE="HTML">atom.xml">
	<link rel="alternate" type="application/rss+xml" title="<TMPL_VAR title ESCAPE="HTML"> RSS 2.0" href="<TMPL_VAR link ESCAPE="HTML">rss20.xml">
	<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cantarell:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://planet.gnome.org/nlayout.css" type="text/css">
	<link rel="stylesheet" href="http://planet.gnome.org/planet.css" type="text/css">
	<link rel="stylesheet" href="http://planet.gnome.org/generic.css" type="text/css">
	<link rel="stylesheet" href="http://blogs.gnome.org/wp-content/mu-plugins/bug-links/bug-links.css" type="text/css">

	<style rel="stylesheet" type="text/css">
	#global_domain_bar
	{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 10px;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #2E3436;
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7em;
	}

	#global_domain_bar a
	{
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px 5px 5px 5px;
		background: url("http://planet.gnome.org/img/30/favicon.png") no-repeat scroll 8px 7px #FFFFFF;
		color: #555753;
		float: right;
		font-size: 12px;
		margin-right: 30px;
		padding: 4px 12px 2px 26px;
		text-decoration: none;
		line-height: 1.7em;
	}
	
	#page
	{
		background: url("http://planet.gnome.org/img/30/html-bg.png") repeat-x scroll center top #FFFFFF;
		font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
	}
	
		
	a
	{ 
		color: #0489B7;
	}
	
	#global_domain_bar div {
		max-width: 940px;
		margin: 0 auto;
	}
	
	div.post-contents
	{
		background: white;
	}
	
	.post-title a
	{
		color: #0489B7;
		font-weight: bold;
	}
	
	#footer, #feeds
	{
    background: none repeat scroll 0 0 #D3D7CF;
    color: #555753;
	}
	
	#footer a
	{
    color: inherit;
	}
	
	#footer-grass
	{
    background: url("http://planet.gnome.org/img/30/grass.png") repeat-x scroll center top transparent;
    height: 39px;
    margin-top: -33px;
	}
	
	#footer-art
	{
		margin-left: auto;
		margin-right: auto;
		clear: left;
		height: 180px;
		margin-top: 0;
		width: 940px;
		background-image: url("http://planet.gnome.org/img/30/default.png");
	}
	
	#planet-banner
	{
    margin-left: auto;
    margin-right: auto;
    clear: left;
    margin-top: 0;
    width: 65em;
    padding: 0 1em;
	}
	
	
	#planet-subtitle
	{
		color: #555753;
		font-size: 100%;
		font-weight: bold;
		margin: 0;
		padding 0;
		padding-top: 14px;
	}
	
	#planet-logo
	{
		vertical-align: middle;
		padding-bottom: 25px;
		margin-left:    26px;
		padding-right:  50px;
	}
	
	.post
	{
		color: #555753;
		line-height: 1.6;
	}
	</style>


	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script type="text/javascript" src="http://planet.gnome.org/jquery.lazyload.min.js"></script>
	<script type="text/javascript"><!-- $(function(){ $('.post img').lazyload(); }); --></script>
</head>

<body>

<div id="page">


	<div id="global_domain_bar">
		<div>
			<a href="http://www.gnome.org"><strong>GNOME</strong>.ORG</a>
		</div>
  </div>

	<div id="planet-banner">
		<p id="planet-subtitle">
			<img id="planet-logo" src="http://planet.gnome.org/img/30/planet-logo.png"  alt="Planet GNOME" title="Planet GNOME"/>
			24 hours a day, 7 days a week, 365 days per year...
		</p>
	</div>

  <!-- Fog ruler -->
	<!--script type="text/javascript" src="http://www.gnome.org/friends/ruler/ruler.js"></script-->

	<div id="content">

	<TMPL_IF banner_message>
	<div class="banner"><TMPL_VAR banner_message></div>
	</TMPL_IF>

	<TMPL_LOOP Items>

		<TMPL_IF new_date>
			<h2 class="date"><TMPL_VAR new_date></h2>
		</TMPL_IF>

		<div class="entry<TMPL_IF channel_nick> <TMPL_VAR channel_nick></TMPL_IF>">
			<div class="person-info">
				<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_IF channel_face><img class="face" src="<TMPL_VAR channel_face ESCAPE="HTML">" alt=""><br><TMPL_ELSE><img class="face" src="http://planet.gnome.org/heads/nobody.png" alt=""><br></TMPL_IF><TMPL_VAR channel_name><TMPL_IF channel_real><br><TMPL_VAR channel_real></TMPL_IF><TMPL_IF channel_nick><br>(<TMPL_VAR channel_nick>)</TMPL_IF></a>
				<TMPL_IF channel_opw2011><p><a href="http://live.gnome.org/GnomeWomen/OutreachProgram2011" title="GNOME Outreach Program for Women 2011"><img src="http://planet.gnome.org/heads/logos/opw2011.png" alt="OPW 2011" /></a></p></TMPL_IF>
				<TMPL_IF channel_gsoc2011><p><a href="http://live.gnome.org/SummerOfCode2011" title="Google Summer of Code 2011"><img src="http://planet.gnome.org/heads/logos/gsoc2011.png" alt="GSoC 2011" /></a></p></TMPL_IF>
				<TMPL_IF channel_guadec><p><a href="http://www.guadec.org/" title="The GNOME Conference"><img src="http://planet.gnome.org/heads/logos/guadec.png" alt="The GNOME Conference" /></a></p></TMPL_IF>
			</div>

			<div class="post">
				<div class="post-header">
					<TMPL_IF title><h3 class="post-title"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h3></TMPL_IF>
				</div> <!-- /post-header -->

				<div class="post-contents <TMPL_IF channel_fixedwidth>post-fixedwidth</TMPL_IF>">
					<TMPL_VAR content>
				</div> <!-- /post-contents -->

				<div class="post-footer">
					<p><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR date></a></p>
				</div> <!-- /post-footer -->

				<b class="vt lt"></b><b class="vt rt"></b><b class="hz to"></b><b class="hz bo"></b>
				<b class="cr tl"></b><b class="cr tr"></b><b class="cr bl"></b><b class="cr br"></b>
			</div> <!-- /post -->
	</div> <!-- /entry -->

	</TMPL_LOOP>

</div> <!-- /content -->

<div id="footer-art"> &nbsp; </div>
<div id="footer-grass"> &nbsp; </div>

<div id="feeds">
	<h3><a href="feeds.html">Feeds</a></h3>
	<div id="feedlist"></div>
</div>

<div id="footer">

<div class="column">
<div class="section">
<h3><TMPL_VAR title ESCAPE="HTML"></h3>
<p><b><TMPL_VAR title ESCAPE="HTML"> is a window into the world, work and lives of GNOME <a href="http://planet.gnome.org/heads/">hackers and contributors</a>.</b></p>

<p>Brought to you by the <a href="http://www.planetplanet.org/">Planet</a> aggregator, cron, <a href="http://www.python.org/">Python</a>, <a href="http://www.redhat.com/">Red Hat</a> (who kindly host the GNOME servers). Design by <a href="http://vinicius.depizzol.com.br/blog/">Vinicius Depizzol</a> and <a href="http://aruiz.typepad.com">Alberto Ruiz</a>, inspired by earlier work from <a href="http://bethesignal.org/">Jeff Waugh</a>, <a href="http://www.actsofvolition.com/">Steven Garrity</a>, <a href="http://www.gnome.org/~seth/">Seth Nickell</a> and <a href="http://www.isity.net/">Diana Fong</a>.</p>

<p><TMPL_VAR title ESCAPE="HTML"> is edited by Juanje Ojeda, Alberto Ruiz and Jeff Waugh. Please <a href="mailto:jojeda@gnome.org,aruiz@gnome.org,jdub@gnome.org?Subject=planet.gnome.org">mail them</a> if you have a question. If you would like your blog added to the feed, please <a href="https://bugzilla.gnome.org/enter_bug.cgi?product=website;component=planet.gnome.org">file a bug</a>. Make sure to read the <a href="http://live.gnome.org/PlanetGnome"><TMPL_VAR title ESCAPE="HTML"> guidelines</a> first, as it should cover most questions and as it contains detailed instructions for a blog addition.</p>

<p>Updated on <TMPL_VAR date> UTC. Entries are normalised to UTC time.</p>
</div>
</div>

<div class="column">
<div class="section">
<h3>GNOME World Wide</h3>
<p><a href="http://live.gnome.org/GnomeWorldWide"><img src="http://people.gnome.org/~jdub/random/GnomeWorldWideSmall.jpg" alt=""></a></p>
<p>GNOME communities around the world by region and language:</p>
<ul>
  <li><a href="http://planeta.br.gnome.org/">Brazil</a></li>
  <li><a href="http://planeta.gnome.cl/">Chile</a></li>
  <li><a href="http://planet.gnomefr.org/">Francophile</a></li>
  <li><a href="http://planet.gnome.gr/">Greece</a></li>
  <li><a href="http://planeta.es.gnome.org/">Hispano</a></li>
  <li><a href="http://planet.nl.gnome.org/">Netherlands</a></li>
  <li><a href="http://www.gnome.org.tr/">Turkey</a></li>

	<!-- Broken planets -->
  <!--li><a href="http://www.gnomebangalore.org/?q=blog">Bangalore, India</a></li-->
  <!--li><a href="http://gnome.cult.bg/">Bulgaria</a></li-->
  <!--li><a href="http://planet.gnome-ev.de/">Germany</a></li-->
  <!--li><a href="http://it.gnome.org/planet/">Italy</a></li-->
  <!--li><a href="http://gnome.or.kr/pgk/">Korea</a></li-->
  <!--li><a href="http://www.uk.gnome.org/planet/">United Kingdom</a></li-->
</ul>
</div>
</div>

<div id="fineprint" class="section">
<h3><img src="http://planet.gnome.org/img/30/gnome-logo.png" alt="GNOME" title="GNOME"></h3>
<p>Copyright © 2003-2011, <a href="http://www.gnome.org/">The GNOME Project</a>.<br>
<a href="http://validator.w3.org/check/referer">Optimised</a> for <a href="http://www.w3.org/">standards</a>.<br>
Hosted by <a href="http://www.redhat.com/">Red Hat</a>.</p>
<p id="ownership">Planet GNOME automatically reposts blog entries from the GNOME community. Entries on this page are owned by their authors. We do not edit, endorse or vouch for the contents of individual posts.</p>
</div> <!-- /fineprint -->

</div> <!-- /footer -->


</div> <!-- /page -->

	<script type="text/javascript" src="http://planet.gnome.org/jquery.cookie.min.js"></script>
	<script type="text/javascript">
	function toggleFeeds() {
		$("#feedlist").slideToggle(function() {
			$("#feeds h3").toggleClass("open");
		});
	}
	$(document).ready(function() {
		var hidden = $.cookie("hidden") ? $.cookie("hidden").split(",") : new Array();
		// hide posts by disabled folks
		if (hidden.length > 0) for (i in hidden) {
			$("div." + hidden[i]).hide();
		}
		$("#feeds h3 a").click(function(e) {
			e.preventDefault();
			if ($("#feedlist ul").length == 0) {
				$("#feedlist").load('feeds.html', '', function(r,t,x) {
					$('<input type="checkbox" checked>')
						.change(function() {
							var nick = $(this).parent().attr("class");
							var i = $.inArray(nick, hidden);
							if ($(this).attr("checked")) {
								if (hidden[i]) hidden.splice(i, 1);
								$("div." + nick).show();
							} else {
								if (!hidden[i]) hidden[hidden.length] = nick;
								$("div." + nick).hide();
							}
							$.cookie("hidden", hidden.join(","),
								{expires: 365});
						})
						.prependTo("#feedlist ul li");
					// remove checks from disabled folks
					for (i in hidden) {
						$("#feedlist ul li." + hidden[i] + " input")
							.removeAttr("checked");
					}
					toggleFeeds();
				});
			} else {
				toggleFeeds();
			}
		});
	});
	</script>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://webstats.gnome.org/" : "http://webstats.gnome.org/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://webstats.gnome.org/piwik.php?idsite=6" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->
</body>

</html>
