h2.date {
	color: #777;
	font-weight: normal;
	font-size: large;
}

div.entry {
	clear: both;
	margin-bottom: 2em;
}

div.person-info {
	position: relative;
	z-index: 1;
	float: left;
	margin-top: 25px !important;
	margin-left: -1em;
	padding: 0 1.5em 0 1em;
	left: 4px;
	width: 8.5em;
	background: url(img/bubble/nipple.png) top right no-repeat;
	text-align: center;
}

div.person-info a {
	text-decoration: none;
	color: #777;
	font-size: small;
}
div.person-info a:hover {
	color: inherit;
}
div.person-info a img {
	border: 0px;
	margin-bottom: 1ex;
}

div.post {
	position: relative;
	margin-left: 10em;
	padding: 2em;
}

b.cr {
	position: absolute;
	background-image: url(img/bubble/corners.png);
	width: 50px;
	height: 50px;
}
b.tl { top: 0px; left: 0px; background-position: top left; }
b.tr { top: 0px; right: 0px; background-position: top right; }
b.bl { bottom: 0px; left: 0px; background-position: bottom left; }
b.br { bottom: 0px; right: 0px; background-position: bottom right; }

b.vt {
	position: absolute;
	background: url(img/bubble/vertical.png) repeat-y;
	width: 50px;
	height: 100%;
}
b.lt { top: 0px; left: 0px; background-position: top left; }
b.rt { top: 0px; right: 0px; background-position: top right; }

b.hz {
	position: absolute;
	background: url(img/bubble/horizontal.png) repeat-x;
	width: 100%;
	height: 50px;
}
b.to { top: 0px; left: 0px; background-position: top left; }
b.bo { bottom: 0px; left: 0px; background-position: bottom left; }

.post-title {
	position: relative;
	z-index: 1;
	margin-top: 0px;
	font-size: large;
}

.post-title a {
	text-decoration: none;
}

.post-title a:hover {
	text-decoration: underline;
}

.post-contents {
	position: relative;
	z-index: 1;
	line-height: 140%;
}

.post-contents h2, .post-contents h3, .post-contents h4 {
	font-size: 100%;
	font-weight: bold;
}

.post-contents img,
.post-contents video {
	width: auto;
	max-width: 100%;
	height: auto;
}

.post-contents a img {
	border: 0px;
}

.post-contents blockquote, .post-contents pre {
	color: #777;
	margin: auto 1em auto 1em;
	padding-left: 1em;
	border-left: 5px solid #ddd;
}

.post-fixedwidth {
	white-space: pre;
}

.post-contents pre {
	overflow: auto;
}

.post-contents ul {
	margin: 0px;
	margin-left: 1em;
	padding: 0px;
}
.post-contents ul li {
	margin: 1em;
	padding: 0px;
	list-style-image: url(img/gnome-16.png);
}

.post-contents .delicious-tags {
	text-align: right;
	font-size: x-small;
}

.post-contents:after {
	content: "";
	display: block;
	clear: both;
}

/* Often-used WordPress styles */
.alignleft {
	float:left;
	margin-right:1em;
	margin-bottom:1em;
}
.alignright {
	float:right;
	margin-left:1em;
	margin-bottom:1em;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-smiley {
	vertical-align: middle;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	/* optional rounded corners for browsers that support it */
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* Often-used WordPress styles */

.post-footer {
	margin-top: 1em;
}
.post-footer p {
	position: relative;
	z-index: 1;
	margin: 0;
	font-size: small;
	text-align: right;
}
.post-footer p a {
	text-decoration: none;
	color: #777;
}
.post-footer p a:hover {
	text-decoration: underline;
	color: inherit;
}

#copyright {
	clear: both;
	padding-bottom: 1em;
	text-align: center;
	font-size: small;
}
